mixin content(chapter, entry, topic, id)
    p(id=id)
        span(class="title") DMGR:HLC (#{highLevelCampaigns.publication_month} #{highLevelCampaigns.publication_year}) Additional Comments on #{topic}, p. #{entry.page_number}
        +buttons(id)
        span(class="entry") !{formatInput(entry.entry, "DMGR:HCL", entry.page_number)}
        if entry.optional
            br
            span(class="optional") &emsp;!{formatInput(entry.optional, "DMGR:HCL", entry.page_number)}
        if entry.comment
            span(class="comment")
                strong
                    em Comment:
                |  !{formatInput(entry.comment, "DMGR:HCL", entry.page_number)}
        span(class="content-attributes") Attributes: #{entry.attributes.join(", ")}

h1 DUNGEON MASTER® Option: High-Level Campaigns (#{highLevelCampaigns.publication_month} #{highLevelCampaigns.publication_year})
each chapter, _ in highLevelCampaigns.chapters
    div(class="content")
        h2 Chapter: #{chapter.chapter} #{chapter.heading} — #{chapter.subheading}
        if chapter.foreword
            h3 !{formatInput(chapter.foreword, "DMGR:HCL", chapter.chapter)}
        if chapter.wizard_spells
            h4 Wizard Spells
            each entry, index in chapter.wizard_spells
                - let entryNumber = index+1
                - let id = `DMGR-HCL-${chapter.chapter}-wizard-${entryNumber}`
                +content(chapter, entry, "Wizard Spells", id)
        if chapter.priest_spells
            h4 Priest Spells
            each entry, index in chapter.priest_spells
                - let entryNumber = index+1
                - let id = `DMGR-HCL-${chapter.chapter}-priest-${entryNumber}`
                +content(chapter, entry, "Priest Spells", id)
        if chapter.magical_items
            h4 Magical Items
            each entry, index in chapter.magical_items
                - let entryNumber = index+1
                - let id = `DMGR-HCL-${chapter.chapter}-items-${entryNumber}`
                +content(chapter, entry, "Magical Items", id)
        if chapter.entry
            +content(chapter, chapter.entry, "Holy Water", "1")