-
    function formatInput(input, issue, question) {
        if (Array.isArray(input)) {
            return input.map(s => formatString(s, issue, question))
                    .join('<br>&emsp;')
        }
        return formatString(input, issue, question)
    }
    function formatString(s, issue, question) {
        s = handleAsterisks(s, issue, question)
        return s
    }

    function handleAsterisks(s, issue, question) {
        let asterisks = s.match(/\*/g) || [] // Ignoring asterisk that are surrounded by quotes
        if (asterisks.length === 0) {
            return s
        }

        if (asterisks.length % 2 !== 0) {
            console.log(`Uneven number of asterisks in #${issue}, Q:${question}`)
        }
        let tripleAsterisk = s.match(/\*{3}.*?\*{3}/g) || []
        tripleAsterisk.forEach((match) => {
            s = s.replace(match, `<strong><em>${match.substring(3, match.length - 3)}</em></strong>`)
        })
        let doubleAsterisks = s.match(/\*{2}.*?\*{2}/g) || []
        doubleAsterisks.forEach((match) => {
            s = s.replace(match, `<strong>${match.substring(2, match.length - 2)}</strong>`)
        })
        let singleAsterisk = s.match(/\*{1}.*?\*{1}/g) || []
        singleAsterisk.forEach((match) => {
            s = s.replace(match, `<em>${match.substring(1, match.length - 1)}</em>`)
        })
        return s
    }

    function anchorLink(id) {
        const preview = 'https://htmlpreview.github.io/'
        const github = 'https://github.com/DBFBlackbull/adnd-2e-sage-advice/blob/master/html/index.html\n'
        return `${preview}?${github}#${id}`
    }

style.
    body {
        margin: 0;
    }
    .sidebar {
        height: 100%; /* Full-height: remove this if you want "auto" height */
        width: 200px; /* Set the width of the sidebar */
        position: fixed; /* Fixed Sidebar (stay in place on scroll) */
        z-index: 1; /* Stay on top */
        top: 0; /* Stay at the top */
        left: 0;
        overflow-x: hidden; /* Disable horizontal scroll */
        background: lightgray;
    }
    .main{
        margin-left: 200px; /* Same as the width of the sidebar */
        padding: 0 40px;
    }

    .attributes {
        display: block;
        padding-top: 5px;
    }

    div {
        padding: 8px;
    }
    h2 {
        margin-block-end: 0;
    }
    h3 {
        font-weight: normal;
        margin-block-start: 0.2em;
    }

script.
    function copyPlainText(id) {
        // Get the text field
        let element = document.getElementById(id);
        let innerHTML = element.innerHTML;
        innerHTML = innerHTML.replaceAll(/<span class="no-copy">(.|\n)*?<\/span>/g, '')
            .replaceAll(/<br>/g, '\n');

        // Get rid of the rest of the HTML tags
        let tempElement = document.createElement('div');
        tempElement.innerHTML = innerHTML;
        let text = tempElement.innerText;

        // Copy the text inside the text field
        navigator.clipboard.writeText(text);
    }

    function copyRichText(id) {
        // Get the text field
        let element = document.getElementById(id);
        let innerHTML = element.innerHTML;
        innerHTML = innerHTML.replaceAll(/<span class="no-copy">(.|\n)*?<\/span>/g, '');

        // Copy the text inside the text field
        const blob = new Blob([innerHTML], {type: 'text/html'});
        const clipboardItem = new window.ClipboardItem({'text/html': blob});
        navigator.clipboard.write([clipboardItem]);
    }

    function copyDiscordText(id) {
        // Get the text field
        let element = document.getElementById(id);
        let innerHTML = element.innerHTML;
        innerHTML = innerHTML.replaceAll(/<br>/g, '\n')
            .replaceAll(/<\/?strong>/g,'**')
            .replaceAll(/<\/?em>/g,'*');

        let tempElement = document.createElement('div');
        tempElement.innerHTML = innerHTML;

        // Get rid of the rest of the HTML tags
        let title = tempElement.getElementsByClassName('title')[0].innerText;
        let question = tempElement.getElementsByClassName('question')[0].innerText
            .replaceAll(/\*\*\*/g, '*');
        let answer = tempElement.getElementsByClassName('answer')[0].innerText;

        let formattedText = `${title}\n> ${question}\n> ${answer}`;
        // Copy the text inside the text field
        navigator.clipboard.writeText(formattedText);
    }

    function copyRedditText(id) {
        // Get the text field
        let element = document.getElementById(id);
        let innerHTML = element.innerHTML;
        innerHTML = innerHTML.replaceAll(/<span class="no-copy">(.|\n)*?<\/span>/g, '')
            .replaceAll(/<br>/g, '  \n')
            .replaceAll(/<\/?strong>/g, '**')
            .replaceAll(/<\/?em>/g, '*');

        // Get rid of the rest of the HTML tags
        let tempElement = document.createElement('div');
        tempElement.innerHTML = innerHTML;
        let text = tempElement.innerText;

        let index = text.indexOf('\n');
        let title = text.slice(0, index);
        let rest = text.slice(index+1);

        let finalText = `${title}\n\n>${rest}`;

        // Copy the text inside the text field
        navigator.clipboard.writeText(finalText);
    }

head
    meta(charset="UTF-8")

h1(style="text-align: center;") AD&D 2nd Edition Corrections, Errata, and Suggestions
// Sidebar
div(class="sidebar")
    h2 Attributes
    each attribute, _ in attributes
        div
            input(type="checkbox")
            | !{attribute}

div(class="main")
    div(style="text-align: center;")
        | Search
        input(type="text")
        button test

    each magazine, _ in dragonMagazines
        div
            h2 Sage Advice ##{magazine.issue_number}, #{magazine.publication_month} #{magazine.publication_year}
            h3 !{formatInput(magazine.foreword, magazine.issue_number, 'foreword')}
            each advice, index in magazine.sage_advice
                - let questionNumber = index + 1
                - let id = `${magazine.issue_number}-${questionNumber}`
                p(id=id)
                    span(class='title') Sage Advice ##{magazine.issue_number} (#{magazine.publication_month} #{magazine.publication_year}) p. #{advice.page_number}, Question:#{questionNumber}
                    span(class="no-copy")
                        button(onclick=`copyPlainText('${id}')` title="Copy plain text") 📄
                        button(onclick=`copyRichText('${id}')` title="Copy rich text") 📋
                        button(onclick=`copyDiscordText('${id}')` title="Copy discord text")
                            image(src="../img/icons8-discord-16.png")
                        button(onclick=`copyRedditText('${id}')` title="Copy reddit text")
                            image(src="../img/icons8-reddit-16.png")
                        | &ensp;
                        a(href=anchorLink(id)) 🔗
                    br
                    span(class="question")
                        strong !{formatInput(advice.question, magazine.issue_number, questionNumber)}
                    br
                    span(class="answer") &emsp;!{formatInput(advice.answer, magazine.issue_number, questionNumber)}
                    if advice.image
                        span(class="no-copy")
                            if Array.isArray(advice.image)
                                each img, _ in advice.image
                                    br
                                    img(src="../img/" + img)
                            else
                                br
                                img(src="../img/" + advice.image)
                    br
                    span(class="attributes") Attributes: !{advice.attributes.join(", ")}