-
    function formatInput(input, issue, question) {
        if (Array.isArray(input)) {
            return input.map(s => formatString(s, issue, question))
                    .join('<br>&emsp;')
        }
        return formatString(input, issue, question)
    }
    function formatString(s, issue, question) {
        s = handleAsterisks(s, issue, question)
        return s
    }

    function handleAsterisks(s, issue, question) {
        let asterisks = s.match(/\*/g) || [] // Ignoring asterisk that are surrounded by quotes
        if (asterisks.length === 0) {
            return s
        }

        if (asterisks.length % 2 !== 0) {
            console.log(`Uneven number of asterisks in #${issue}, Q:${question}`)
        }
        let tripleAsterisk = s.match(/\*{3}.*?\*{3}/g) || []
        tripleAsterisk.forEach((match) => {
            s = s.replace(match, `<strong><em>${match.substring(3, match.length - 3)}</em></strong>`)
        })
        let doubleAsterisks = s.match(/\*{2}.*?\*{2}/g) || []
        doubleAsterisks.forEach((match) => {
            s = s.replace(match, `<strong>${match.substring(2, match.length - 2)}</strong>`)
        })
        let singleAsterisk = s.match(/\*{1}.*?\*{1}/g) || []
        singleAsterisk.forEach((match) => {
            s = s.replace(match, `<em>${match.substring(1, match.length - 1)}</em>`)
        })
        return s
    }

    function anchorLink(id) {
        const preview = 'https://htmlpreview.github.io/'
        const github = 'https://github.com/DBFBlackbull/adnd-2e-sage-advice/blob/master/html/index.html\n'
        return `${preview}?${github}#${id}`
    }

link(rel="stylesheet" href="../style/index.css")
script(src="../javascript/index.js")

head
    meta(charset="UTF-8")
body
    // Sidebar
    div(id="sidebar" class="sidebar")
        h2 Visual settings
        div
            input(id="hide-foreword" type="checkbox" onchange="hideForeword()")
            | Hide foreword and epilogue
        h2 Attributes
        each attribute, _ in attributes
            div
                input(type="checkbox" class="attribute" value=attribute onchange="search()")
                | !{attribute}

    div(id="main" class="main")
        h1(style="text-align: center;")
            | AD&D 2nd Edition
            br
            | Corrections, Errata, and Suggestions
        div(style="text-align: center;")
            input(id="search" type="text")
            button(onclick="search()") Search
            span(id="results" style="margin-left: 10px;")
            br
            span(style="font-style: italic;") Use the pipe character "|" to search for multiple terms
            br
            input(id="radio-any-search-term" type="radio" name="search-type" value="any-search-term" checked)
            label(for="radio-any-search-term") Match any search term
            input(id="radio-all-search-terms" type="radio" name="search-type" value="all-search-terms")
            label(for="radio-all-search-terms") Match all search terms

        each magazine, _ in dragonMagazines
            div(class="sage-advice")
                h2 Sage Advice ##{magazine.issue_number}, #{magazine.publication_month} #{magazine.publication_year}
                h3 !{formatInput(magazine.foreword, magazine.issue_number, 'foreword')}
                each advice, index in magazine.sage_advice
                    - let questionNumber = index + 1
                    - let id = `${magazine.issue_number}-${questionNumber}`
                    // - console.log(`Sage Advice #${magazine.issue_number} p. ${advice.page_number}, Question: ${questionNumber}`)
                    p(id=id)
                        span(class='title') Sage Advice ##{magazine.issue_number} (#{magazine.publication_month} #{magazine.publication_year}) p. #{advice.page_number}, Question: #{questionNumber}
                        span(class="no-copy")
                            button(onclick=`copyPlainText('${id}')` title="Copy plain text") 📄
                            button(onclick=`copyRichText('${id}')` title="Copy rich text") 📋
                            button(onclick=`copyDiscordText('${id}')` title="Copy discord text")
                                image(src="../img/icons8-discord-16.png")
                            button(onclick=`copyRedditText('${id}')` title="Copy reddit text")
                                image(src="../img/icons8-reddit-16.png")
                            | &ensp;
                            a(href=anchorLink(id)) 🔗
                        br
                        span(class="question")
                            strong !{formatInput(advice.question, magazine.issue_number, questionNumber)}
                        br
                        span(class="answer") &emsp;!{formatInput(advice.answer, magazine.issue_number, questionNumber)}
                        if advice.image
                            span(class="no-copy")
                                if Array.isArray(advice.image)
                                    each img, _ in advice.image
                                        br
                                        img(src="../img/" + img)
                                else
                                    br
                                    img(src="../img/" + advice.image)
                        span(class="content-attributes no-copy") Attributes: !{advice.attributes.join(", ")}
                if magazine.epilogue
                    h3 !{formatInput(magazine.epilogue, magazine.issue_number, 'epilogue')}