//- INCLUDES
  =============================
include abstract/mixins.pug

-
    function formatInput(input, issue, question) {
        if (!input) {
            console.log(`input is nil in #${issue}, Q:${question}`)
        }

        if (Array.isArray(input)) {
            return input.map(s => formatString(s, issue, question))
                    .join('<br>&emsp;')
        }
        return formatString(input, issue, question)
    }
    function formatString(s, issue, question) {
        s = handleAsterisks(s, issue, question)
        return s
    }

    function handleAsterisks(s, issue, question) {
        let asterisks = s.match(/\*/g) || [] // Ignoring asterisk that are surrounded by quotes
        if (asterisks.length === 0) {
            return s
        }

        if (asterisks.length % 2 !== 0) {
            console.log(`Uneven number of asterisks in #${issue}, Q:${question}`)
        }
        let tripleAsterisk = s.match(/\*{3}.*?\*{3}/g) || []
        tripleAsterisk.forEach((match) => {
            s = s.replace(match, `<strong><em>${match.substring(3, match.length - 3)}</em></strong>`)
        })
        let doubleAsterisks = s.match(/\*{2}.*?\*{2}/g) || []
        doubleAsterisks.forEach((match) => {
            s = s.replace(match, `<strong>${match.substring(2, match.length - 2)}</strong>`)
        })
        let singleAsterisk = s.match(/\*{1}.*?\*{1}/g) || []
        singleAsterisk.forEach((match) => {
            s = s.replace(match, `<em>${match.substring(1, match.length - 1)}</em>`)
        })
        return s
    }

    function anchorLink(id) {
        const preview = 'https://htmlpreview.github.io/'
        const github = 'https://github.com/DBFBlackbull/adnd-2e-sage-advice/blob/master/html/index.html\n'
        return `${preview}?${github}#${id}`
    }

link(rel="stylesheet" href="../style/index.css")
script(src="../javascript/index.js")

head
    meta(charset="UTF-8")
body
    include sidebar-left
    include sidebar-right

    div(id="main" class="main")
        h1(style="text-align: center;")
            | AD&D 2nd Edition
            br
            | Corrections, Errata, and Suggestions
        div(style="text-align: center;")
            input(id="search" type="text")
            button(onclick="search()") Search
            span(id="results" style="margin-left: 10px;")
            br
            span(style="font-style: italic;") Use the pipe character "|" to search for multiple terms
            br
            input(id="radio-all-search-terms" type="radio" name="search-type" value="all-search-terms" checked)
            label(for="radio-all-search-terms") Match all search terms
            input(id="radio-any-search-term" type="radio" name="search-type" value="any-search-term")
            label(for="radio-any-search-term") Match any search term

        +book(phb1)
        +book(phbr)
        +book(dmg)
        +book(age)
        +book(wizardsHandbook)
        +book(psionicsHandbook)
        +book(waw)
        +book(combatAndTactics)
        include sage-advice.pug
        +book(highLevelCampaigns)
        +book(wsc4)
        +book(psc1)
        +book(psc2)
        +book(psc3)
        include shared-spells.pug