mixin buttons(id)
    button(onclick=`copyPlainText('${id}')` title="Copy plain text") 📄
    button(onclick=`copyRichText('${id}')` title="Copy rich text") 📋
    button(onclick=`copyDiscordText('${id}')` title="Copy discord text")
        image(src="../img/icons8-discord-16.png")
    button(onclick=`copyRedditText('${id}')` title="Copy reddit text")
        image(src="../img/icons8-reddit-16.png")
    | &ensp;
    a(href=anchorLink(id)) 🔗
    | &emsp;
    button(onclick=`hideEntry('${id}')` title="Hide entry") ✕
    br

mixin book(book)
    div(class="wrapper")
        h1
            | #{book.title} (Published #{book.publication_month} #{book.publication_year}
            if book.publication_print
                | , #{book.publication_print}
            | )
        each chapter, _ in book.chapters
            if chapter.foreword
                h3 !{formatInput(chapter.foreword)}
            each section, _ in chapter.sections
                div(class="content")
                    h2 #{chapter.name}: #{chapter.number} #{chapter.heading} — #{section.heading}
                    if section.foreword
                        h3 !{formatInput(section.foreword)}
                    if section.entries
                        +entries(book, chapter, section, `${chapter.heading} — ${section.heading}`)
                    if section.sections
                        each subsection, _ in section.sections
                            h4 #{subsection.heading}
                            +entries(book, chapter, subsection, `${section.heading} — ${subsection.heading}`)

mixin entries(book, chapter, section, heading)
    each entry, index in section.entries
        - id = `${book.id}-${chapter.name}${chapter.number}-${section.id}-${index+1}`.toLowerCase().replaceAll(/:/g,'-')
        - if (id.includes('undefined')) {console.log(id)}
        p(id=id)
            span(class="title")
                | #{book.title} p. #{entry.page_number} #{heading} (#{book.publication_month} #{book.publication_year}
                if book.publication_print
                    | , #{book.publication_print}
                | )
            +buttons(id)
            span(class="entry") !{formatInput(entry.entry, book.shortTitle, entry.page_number)}
            if entry.optional
                br
                span(class="optional") &emsp;!{formatInput(entry.optional, book.shortTitle, entry.page_number)}
            if entry.comment
                span(class="comment")
                    strong
                        em Comment:
                    |  !{formatInput(entry.comment, book.shortTitle, entry.page_number)}
            +attributes(entry, book.sourceAttribute)

mixin attributes(entry, sourceAttribute)
    span(class="content-attributes") Attributes: #{entry.attributes.filter(Boolean).map(a => a.id).join(", ")}
        span(class="hidden") #{sourceAttribute.id}